@import "tailwindcss";

:root {
  --font-roboto: 'Roboto', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
}

.font-roboto {
  font-family: var(--font-roboto);
}

.font-montserrat {
  font-family: var(--font-montserrat);
}

body {
  font-family: var(--font-roboto), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-montserrat), sans-serif;
  font-weight: 600;
}

p, li {
  line-height: 1.65;
}